[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
plyvel = "*"
foundationdb = {file = "https://www.foundationdb.org/downloads/6.0.18/bindings/python/foundationdb-6.0.18.tar.gz"}
wiredtiger = "*"

[dev-packages]
bandit = "*"
pylint = "*"
pytest = "*"
ipython = "*"
debug = "*"
pytest-cov = "*"
codecov = "*"
ujson = "*"
ipdb = "*"
pre-commit = "*"
black = "*"
flake8 = "*"
rope = "*"
jedi = "*"
pylama = "*"
guzzle-sphinx-theme = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
