[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
plyvel = "*"
wiredtiger-ffi = "*"

[dev-packages]
bandit = "*"
pylint = "*"
pytest = "*"
ipython = "*"
debug = "*"
pytest-cov = "*"
codecov = "*"
ujson = "*"
ipdb = "*"

[requires]
python_version = "3.6"
